@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { font-family: Pokemon-Hollow; src: url('Delicious-Roman.otf'); } 
 @font-face { font-family: Pokemon-Hollow; font-weight: bold; src: url('Delicious-Bold.otf');}